<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SimpleDesktops4Win.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <SimpleDesktops4Win.Properties.Settings>
            <setting name="AutoChange" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RefreshTime" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Startup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FixJPG" serializeAs="String">
                <value>False</value>
            </setting>
        </SimpleDesktops4Win.Properties.Settings>
    </userSettings>
</configuration>